<div class="container">
  
  <table class="table">
    <h4 class="mt-4 mb-4 text-center" style="background-color: #ECECEC; width: 120px;">会員一覧</h4>
    <thead>
      <tr>
        <th style="background-color: #ECECEC;">会員ID</th>
        <th style="background-color: #ECECEC;">氏名</th>
        <th style="background-color: #ECECEC;">メールアドレス</th>
        <th style="background-color: #ECECEC;">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
            <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer) %></td>
            <td><%= customer.email %></td>
          <td class="text-left">
            <% if customer.is_delete %>
              <span class="text-secondary">退会</span>
            <% else %>
              <span class="text-success">有効</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
   <div class="d-flex justify-content-center">
    <%= paginate @customers %>
  </div>
</div>

